// GPIO
IO_LOC  "GPIO_1"    25;

IO_PORT "GPIO_1"    IO_TYPE=LVCMOS33;

// BUTTON
IO_LOC  "BUTTON_1"  3;
IO_LOC  "BUTTON_2"  4;

IO_PORT "BUTTON_1"  IO_TYPE=LVCMOS33    PULL_MODE=UP;
IO_PORT "BUTTON_2"  IO_TYPE=LVCMOS33    PULL_MODE=UP;


// LED
IO_LOC  "LED_1"     16;
IO_LOC  "LED_2"     15;

IO_PORT "LED_1"     IO_TYPE=LVCMOS33    PULL_MODE=UP  DRIVE=8;
IO_PORT "LED_2"     IO_TYPE=LVCMOS33    PULL_MODE=UP  DRIVE=8;
